*{
    box-sizing: border-box;
}
.conteudo{
    background-color: #E5E5E5; /*#E5E5E5*/
    margin-top: 80px;
    margin-bottom: 80px;
    height: 100%;
    padding-top: 26px;
    padding-bottom: 10px;
}
.cabecalho{
    background-color: white;
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
}
.cabecalho img{
    width: 75px;
}
.icone{
    height: 55px;
    width: 42px;
}
.rodape{
    height: 80px;
    width: 100%;
    background-color: white;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
.escrever-mensagem{
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: black;
}
.escrever-mensagem::placeholder{
    color: black;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
}
.icone-mensagem{
    height: 26px;
    width: 26px;
}
.tela-de-entrada{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 72px;
}
.tela-de-entrada p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: black;
}
.tela-de-entrada img{
    width: 33%;
    margin-bottom: 94px;
}
.escrever-nome{
    width: 70%;
    height: 54px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: black;
    margin-bottom: 15px;
}
.escrever-nome::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #AEAEAE;
}
.escondido{
    display: none;
}
.botao-entrar{
    background-color: #E7E7E7;
    width: 30%;
    height: 45px;
    border-radius: 9px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #696969;
}
.caixa-menulateral{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
.transparente{
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 30%;
    height: 100%;
}
.menu-lateral{
    background-color: white;
    position: fixed;
    bottom: 0px;
    left: 30%;
    width: 70%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 3;
}
.menu-lateral p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: black;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
}
.usuario{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 15px 0px 20px;
    height: 42px;
    width: 100%;
}
.nome-usuario{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
    margin-left: 8px;
}
.icone-menu{
    width: 25px;
    height: 25px;
}
.visibilidade{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 15px 0px 20px;
    height: 42px;
    width: 100%;
}
.tipo-visibilidade{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
    margin-left: 8px;
}
.icone-menu-visibilidade{
    width: 20px;
    height: 26px;
}
.mensagem{
    background-color: white;
    width: 100%;
    padding: 12px 8px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.status{
    background-color: #DCDCDC;
    width: 100%;
    padding: 12px 8px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.horario{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    color: #AAAAAA;
    margin-right: 5px;
    margin-bottom: 5px;
}
.texto-mensagem{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: black;
    margin-right: 5px;
    margin-bottom: 5px;
}
.nome{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    color: black;
    margin-right: 5px;
    margin-bottom: 3px;
}
.botao-enviar-mensagem{
    border: none;
    background-color: white;
}